$primary_blue_color: #1B3764;
$primary_blue_color_opacity_8: rgba(27, 55, 100, 0.8);
$primary_blue_color_opacity_2: rgba(27, 55, 100, 0.2);
$primary_blue_color_opacity_low: #B4C7E7;
$light_yellow: #FFCA42;
$white: #ffffff;
$gray: #969AA0;
$white-gray: #E8E8E8;
$light-white-gray: #F9F9F9;
$background-opacity-blue: #F4F8FF;
$border-blue-opacity: #DCE1E9;
$background-blue-gray: #F3F3F3;