<app-topnav></app-topnav>
<mat-drawer-container class="sidebar-container" [hasBackdrop]="false">
  <mat-drawer #drawer mode="side">
    <div class="mat-drawer-sidebar-container">
      <div class="container-top">
        <button class="main-button-sidebar" [ngClass]="{'isActive': indexSidebar == 0}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path
              d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z" />
          </svg>
          Trang chủ
        </button>
        <button class="main-button-sidebar" [ngClass]="{'isActive': indexSidebar == 1}">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path
              d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
          </svg>
          Lịch
        </button>
      </div>
      <div class="container-bottom">
        <ul class="function-container">
          <li class="function">
            <div class="content-function-container">
              <div class="container-left">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path d="M480-360 280-560h400L480-360Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                  <path
                    d="M480-120 200-272v-240L40-600l440-240 440 240v320h-80v-276l-80 44v240L480-120Zm0-332 274-148-274-148-274 148 274 148Zm0 241 200-108v-151L480-360 280-470v151l200 108Zm0-241Zm0 90Zm0 0Z" />
                </svg>
              </div>
              <div class="container-right">
                Đã đăng ký
              </div>
            </div>
            <ul class="list-classroom">
              <li *ngFor="let class of _class" routerLink="{{'/classroom/' + class.ma_lop}}" [ngClass]="{'isActive': classroomId == class.ma_lop}" class="classroom">
                <div class="class-avatar-container">
                  {{class.ten_lop.slice(0, 1)}}
                </div>
                {{class.ten_lop}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
    <button (click)="clickEventShowSidebar(drawer)" class="sidebar-show-icon" [ngClass]="{'active': isShowSidebar}">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>
    </button>
  </mat-drawer-content>
</mat-drawer-container>